.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuToggle {
    display: block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    position: relative;
    z-index: 1;
}

.menuIcon {
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

.menuIcon:before,
.menuIcon:after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.menuIcon:before {
    transform: translateY(-0.5rem);
}

.menuIcon:after {
    transform: translateY(0.5rem);
}

.navList {
    list-style: none;
    z-index: 0;
    display: none;
}

.navList.open {
    display: flex;
}

.navListItem {
    margin: 0.5rem 0;
    font-weight: 400;
}

.activeLink {
    transition: .3s;
    align-self: center;
    color: var(--blue);
    font-weight: 400;
    transition: .3s ease-out;
}

@media (min-width: 768px) {
    .menuToggle {
        display: none;
    }

    .navList {
        display: flex;
        justify-content: flex-end;
    }

    .navListItem:hover {
        color: var(--blue);
        text-shadow: 0 0 15px var(--blue);
        
    }
}