.nav {
    justify-content: space-between;
    position: fixed;
}

.menuToggle {
    display: block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    position: relative;
    z-index: 1;
}

.menuIcon {
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

.menuIcon:before,
.menuIcon:after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.menuIcon:before {
    transform: translateY(-0.5rem);
}

.menuIcon:after {
    transform: translateY(0.5rem);
}

.navList {
    display: none;
    list-style: none;
    z-index: 0;
}

.navList.open {
    display: flex;
}

.navListItem {
    margin: 0.5rem 0;
}

@media (min-width: 768px) {
    .menuToggle {
        display: none;
    }
    .nav {
        display: flex;
    }

    .navListItem:hover {
        border-bottom: 1px solid var(--blue);
    }
}