* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-color: var(--bg);
}

:root {
    /* Fonts */

    /* Color text */
    --text: #e9eee6;

    /* background-color */
    --bg: #1C2130;

    /* Highlights */
    --purple: #6d138b;
    --blue: #0FACE1;
    --dark: #543e3e2e;
    --light: #dee6d8;

    /* Font size*/
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    height: 100vh;
    width: 100vw;
    padding: 0.8rem;
}

select {
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}

a:hover {
    all: unset;
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: var(--text);
}


h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2rem;
    color: var(--purple);
    text-shadow: 1px 0.8px 2px var(--blue);
}

h2 {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text);
    text-shadow: 0px 0px 5px #000;
}

li {
    color: var(--text);
    padding: 0.3rem 0.3rem;
}

.confirmSent {
    color: #1C2130 !important;
}


/* Define sections grid */

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin: 0;
}

main {
    grid-column: 1 / 4;
    align-items: center;
    display: grid;
}

footer {
    margin: 0;
    font-size: 0.9rem;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    margin: 10px auto;
    align-self: last baseline;
}

/* Media quieries global styles*/

@media (min-width: 400px) {

    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (min-width: 640px) {

    h1 {
        font-size: 3.3rem;
        text-shadow: 2px 2px 2px var(--blue);
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    li {
        color: var(--text);
        padding: 0.3rem 0.7rem;
    }

    header {
        margin: 0 1rem;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 4rem;

    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1.3rem;
    }

    p {
        font-size: 1.3rem;
    }

}