* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Fonts */

    /* Color text */
    --text: #e9eee6;

    /* background-color */
    --bg: #1C2130;

    /* Highlights */
    --purple: #6d138b;
    --blue: #0FACE1;
    --dark: #543e3e2e;
    --light: #dee6d8;

    /* Font size*/
    font-size: 16px;
}

main {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: auto;
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
    padding: 0.8rem;
}

select {
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}

a:hover {
    all: unset;
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text);
    font-size: 0.8rem;
}


h1,
h2,
h3,
li {
    color: var(--titles);
}

h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.2rem;
    color: var(--purple);
    text-shadow: 1px 0.8px 2px var(--blue);
}

li {
    color: var(--text);
    padding: 0.3rem 0.7rem;
    font-weight: bold;
}

li:hover {
    color: var(--blue);
    text-shadow: 0 0 15px var(--blue);
    transition: .3s;

}

/* Center the text in the header and footer */

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin: 2rem 2rem;
}

footer {
    text-align: center;
    margin: 0;
    line-height: 4rem;
    font-size: 0.9rem;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    align-self: baseline;
    margin: auto;
}


@media (min-width: 400px) {

    h1 {
        font-size: 2.7rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (min-width: 640px) {

    h1 {
        font-size: 3.3rem;
        text-shadow: 2px 2px 2px var(--blue);
    }

    p {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 4rem;
        
    }

    p {
        font-size: 1.3rem;
    }
}